* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #343f4f;
}
.wrapper {
    display: inline-flex;
}
.wrapper .static-txt {
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts {
    margin-left: 16px;
}
.wrapper .dynamic-txts li {
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: #fc6d6d;
}
.wrapper .dynamic-txts li span {
    position: relative;
}
.wrapper .dynamic-txts li span::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-left: 2px solid #fc6d6d;
    animation: typing 1.5s steps(14) infinite;
    background: #343f4f;
}
@keyframes typing {
    80% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}
